<html>
<head>
<link type="text/css" rel="stylesheet" href="css\intro.css">
<title>OTT Content Aggregator</title>
</head>
<body bgcolor="black">
<div class="container">
<div class="image">
<img src="image\first.jpg.jpg" height="750px" width="100%">
</div>
</div>


<div class="container">
<br><br><br> <br><br><br><br><br><br><br>
<div class="text">
<!-- &nbsp &nbsp   <b> <font color="white" face="calibri"> See what's Next. </font> </b><br> -->
</div>
</div>
<br>

<div class="container">

<!-- &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp -->



<br><br><br> <br><br><br><br><br><br><br><br><br><br>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <font color="white" face="calibri" size="80px">Watch anywhere,anytime,anything</font><br> <br>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp
<a href="/signup">
 <button class="button"> <span> Create an account </span> </button>
 </a>
 <a href="/login">
    <button class="btnn"><span> login </span></button>
   </a>
</div>


<div class="footer">

</div>
</body>
</html>
